body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
  }

.container .me{
        float: left;
        width: 160px;
        height: 160px;
        border-radius: 40px;
        padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

header p {
    margin: 0;
}

section {
    padding: 50px 0;
}

section h2 {
    color: #333;
}

section p {
    line-height: 1.6;
}

.project {
    margin-bottom: 30px;
}

.project img {
    max-width: 100%;
    height: auto;
    padding: 30px;
}

.project .vid{
    float: right;
}
.project .vid .appVideoText{
    text-align: center;
    font-size: large;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
