.navbar {
  flex: 1;
  position: fixed;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 7%;
  max-height: 11%;
  background-color:rgba(255, 255, 255, 0.5); /* Adjust as needed */
  color: #000000; /* Adjust as needed */
  backdrop-filter: blur(5px);
}

.navbar a {
  color: #000000;
  text-decoration: none; /* Remove default underline */
  height:auto;
  font-size:x-large;
  position:relative;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar a:hover {
  color:cadetblue;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.left{
  float: inline-start;
  padding-left: 4%;
  padding-top: 10px;
}

.right{
  float: right;
  padding-right: 4%;
  padding-top: 10px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}


.App{
  width: 100%;
}

.contact-links {
  padding-bottom: 5%;
  align-content: space-between;
  text-decoration: none;
  color: inherit;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}
